@page "/bindrazor/parentchildrend"
<h3>Parent Child Relation</h3>
<_ChildComponent Title="This is passed as parameter from Parent Component">
    Render fragment from Parent.Whoo oo!!!
</_ChildComponent>
@code {

}

